In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [4]:
data = pd.read_csv("LabTAT.csv")
data

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
5          179.45        197.00        181.51        161.12
6          191.37        166.36        214.21        154.02
7          166.81        169.60        183.43        163.25
8          158.81        175.36        191.60        152.79
9          165.88        198.68        208.43        161.98
10         174.75        189.12        231.00        171.22
11         193.37        140.55        198.37        183.67
12         184.75        160.44        226.62        142.95
13         178.54        167.03        214.44        152.37
14         180.19        182.67        159.69        163.81
15         172.17        155.73        214.14        156.06
16         172.00        183.07        212.29        176.44
17         184.92        177.70        209.25        173.68
18         187.38        191.62        198.54        161.49
19         194.17        186.85        229.02        175.05
20         192.03        161.09        214.71        150.22
21         193.77        173.01        172.27        148.17
22         178.24        199.43        205.31        166.21
23         171.41        185.67        180.35        145.40
24         178.30        182.69        214.58        166.42
25         176.13        180.45        231.76        132.21
26         180.67        182.37        215.78        143.26
27         177.38        189.99        201.78        154.06
28         190.36        167.55        191.64        179.08
29         199.99        190.09        217.56        144.82
..            ...           ...           ...           ...
90         185.16        191.89        194.59        162.84
91         161.05        180.53        184.28        162.67
92         186.32        165.45        174.55        157.21
93         149.24        168.80        188.53        156.79
94         168.62        159.92        204.28        172.38
95         171.64        188.49        202.95        167.62
96         185.42        205.27        177.62        172.72
97         162.43        185.63        201.99        167.55
98         178.81        197.38        195.60        132.49
99         172.65        186.71        178.86        166.18
100        164.65        194.81        211.23        176.79
101        178.52        198.09        213.29        197.98
102        170.11        164.07        199.12        184.78
103        167.15        170.48        187.97        180.51
104        190.32        184.86        180.93        167.27
105        167.25        189.11        213.22        159.34
106        179.20        179.68        175.36        142.35
107        171.65        142.38        187.60        167.07
108        166.35        167.72        208.33        126.94
109        175.41        199.90        172.86        205.18
110        172.05        174.43        211.64        152.31
111        181.88        168.20        183.19        191.26
112        201.11        195.07        203.05        160.98
113        154.21        193.79        197.88        192.23
114        145.89        175.16        203.39        139.34
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [6]:
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [5]:
data.tail()

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

In [7]:
p_value = stats.f_oneway(data.iloc[:,0],data.iloc[:,1],data.iloc[:,2],data.iloc[:,3])

In [8]:
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [9]:
p_value[0]

118.70421654401437

In [10]:
p_value[1]

2.1156708949992414e-57